<h1>Estado de line</h1>
<svg width="15cm" height="7cm" viewBox="129 119 295 130" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g>
    <rect style="fill: #ffffff" x="130.05" y="120" width="137.9" height="38"/>
    <rect style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" x="130.05" y="120" width="137.9" height="38"/>
    <text font-size="12.7998" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal" x="199" y="142.9">
      <tspan x="199" y="142.9">Ensambladora 1</tspan>
    </text>
  </g>
  <g>
    <rect style="fill: #ffffff" x="133.05" y="209" width="137.9" height="38"/>
    <rect style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" x="133.05" y="209" width="137.9" height="38"/>
    <text font-size="12.7998" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal" x="202" y="231.9">
      <tspan x="202" y="231.9">Ensambladora 2</tspan>
    </text>
  </g>
  <g>
    <rect style="fill: #ffffff" x="333.575" y="159" width="88.85" height="38"/>
    <rect style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" x="333.575" y="159" width="88.85" height="38"/>
    <text font-size="12.7998" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal" x="378" y="181.9">
      <tspan x="378" y="181.9">Empaque</tspan>
    </text>
  </g>
  <g>
    <line style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" x1="267.95" y1="139" x2="325.205" y2="173.026"/>
    <polygon style="fill: #000000" points="331.653,176.858 320.502,176.047 325.205,173.026 325.611,167.451 "/>
    <polygon style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" points="331.653,176.858 320.502,176.047 325.205,173.026 325.611,167.451 "/>
  </g>
  <g>
    <line style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" x1="270.95" y1="228" x2="325.966" y2="184.075"/>
    <polygon style="fill: #000000" points="331.828,179.395 327.132,189.542 325.966,184.075 320.893,181.727 "/>
    <polygon style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" points="331.828,179.395 327.132,189.542 325.966,184.075 320.893,181.727 "/>
  </g>
</svg>
