<h1>Estado de la linea</h1>
<svg width="20cm" height="10cm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g ng-repeat="en in main.ensambladoras">
    <rect ng-attr-style="{{en.color()}}" ng-attr-width="{{en.w}}" ng-attr-height="{{en.h}}" ng-attr-x="{{en.x}}"  ng-attr-y="{{en.y}}"/>
    <rect style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" ng-attr-x="{{en.x}}"  ng-attr-y="{{en.y}}" ng-attr-width="{{en.w}}" ng-attr-height="{{en.h}}"/>
    <line ng-attr-x1="{{en.xl1()}}"  ng-attr-y1="{{en.yl1()}}" ng-attr-x2="{{en.xl2()}}" ng-attr-y2="{{en.yl2()}}" style="stroke:rgb(0,0,0);stroke-width:2" />
    <text font-size="12.7998" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal"  ng-attr-x="{{en.xt()}}" ng-attr-y="{{en.yt()}}">
      <tspan ng-attr-x="{{en.xt()}}" ng-attr-y="{{en.yt()}}">{{en.name}}</tspan>
    </text>
    <text font-size="10" style="fill: #000000;text-anchor:start;font-family:sans-serif;font-style:normal;font-weight:normal"  ng-attr-x="{{en.xo()}}" ng-attr-y="{{en.yo()}}">
      <tspan ng-attr-x="{{en.xo()}}" ng-attr-y="{{en.yo()}}">Operador: {{en.operator}}</tspan>
    </text>
    <text font-size="10" style="fill: #000000;text-anchor:start;font-family:sans-serif;font-style:normal;font-weight:normal"  ng-attr-x="{{en.xp()}}" ng-attr-y="{{en.yp()}}">
      <tspan ng-attr-x="{{en.xp()}}" ng-attr-y="{{en.yp()}}">Piezas: {{en.pieces}}</tspan>
    </text>
  </g>
  <g>
    <line style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" x1="267.95" y1="139" x2="325.205" y2="173.026"/>
    <polygon style="fill: #000000" points="331.653,176.858 320.502,176.047 325.205,173.026 325.611,167.451 "/>
    <polygon style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" points="331.653,176.858 320.502,176.047 325.205,173.026 325.611,167.451 "/>
  </g>
  <g>
    <line style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" x1="270.95" y1="228" x2="325.966" y2="184.075"/>
    <polygon style="fill: #000000" points="331.828,179.395 327.132,189.542 325.966,184.075 320.893,181.727 "/>
    <polygon style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" points="331.828,179.395 327.132,189.542 325.966,184.075 320.893,181.727 "/>
  </g>
</svg>
